@font-face {
    font-family: 'Roboto';
    src: url(fonts/);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a{
    text-decoration: none;
}

div img{
    display: block;
    width: 100%;  
} 

.flex-container{
    display: flex;
    margin-top: 40px;
    width: 100%;
    min-width: 320px;
}

header{
    background-color: #1f2937;
    height: 100px;
    display: flex;
    align-items: flex-start;
    color: #e5e7eb;   
    padding-inline: 148px;
    font-size: 18px;
}

header .list-items{
    display: flex;
    width: 100%;
    max-width: 410px;
    justify-content: space-between;
    align-items: center;
}

.list-items li a{
    color: #e5e7eb;   
}

header .menu{
    justify-content: space-between;
}

.presentation-wrapper{
    display: flex;
    align-items: center;
    align-content: space-between;
    background-color: #1f2937;
    height: 448px;
    color: #e5e7eb;   
    padding-inline: 148px;
    padding-block: 64px;
}

.presentation-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 46px;
    min-width: 50%;
    min-height: 200px;
}

.presentation-child-left{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 46px;
    min-width: 45%;
    min-height: 250px;
    
}

.presentation h1{
    margin-bottom: 8px;
    font-size: 48px;
    font-weight: bolder;
}

.presentation p{
    display: flex;
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 200;
    color: #e5e7eb;
}

.placeholder{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    background-color: #e5e7eb;
    opacity: 0.5;
    width: 100%;
    margin: auto;
}

.placeholder-text{
    position: absolute;
    z-index: 2;
    padding: 24px;
    align-self: center;
}

.placeholder-text p{
    color: white;
}


.sign-up-btn{
    background-color: #4d94ff;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    width: 154px;
    height: 42px;
    line-height: 42px;
    text-decoration: none;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}    

.information-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 992px;
    align-items: center;
    margin: auto;
    width: 100%;
    min-width: 320px;
    
}    

.information-wrapper .first-child{
    font-weight: bold;
    margin: 16px;
    margin-top: 46px;
    font-size: 20px;
    color: #1f2937;
}    

.information-wrapper .second-child{
    font-weight: 500;
    max-width: 80%;
}    

.information-list{
    display: flex;
    text-align: center;
    color: #6a727a;
    font-size: 12px;
}

.information-list .information-item{
    display: flex;
    flex-flow: column;
    align-items: center;   
    width: 20%;
    padding: 22px;
}

.information-list .information-item .image-item{
    border: 5px solid #3882f6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.information-item p{
    margin-top: 10px;
    font-size: 18px;
}

.quote-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 48px;
    padding: 48px;
    background-color: #e5e7eb;
    width: 100%;
    height: 300px;
}

.quote{
    width: 60%;
    align-self: center;
    font-size: 36px;
    margin-top: 48px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.quote-author{
    display: flex;
    width: 60%;
    align-self: center;
    justify-content: end;
    font-size: 36px;
    margin-top: 48px;
    font-weight: bolder;
    color: #1f2937;
}

.call-to-action{
    color: white;
    display: flex;
    align-self: center;
    align-items: center;
    margin: auto;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    height: 150px;
    background-color: #3882f6;
    border-radius: 10px;
    margin-top: 88px;
    margin-bottom: 88px;
}

.cta-title{
    font-weight: bolder;
    font-size: 22px;
    line-height: 32px;
}

.cta-text{
    font-weight: lighter;
    font-size: 18px;
}

.call-to-action .sign-up-btn{
    border: 2px solid white;
}

footer{
    display: flex;
    background-color: #1f2937;
    height: 90px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    width: 100%;
    color: #e5e7eb;   
}


